#demo-div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 45px;
    color: white;
    z-index: 3;
}
#demo-div > ul
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#demo-div > ul > li
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1px;
    padding: 5px;
    border: 1px solid red;
}
#demo-div > ul > li:last-child
{

}
#demo-div > ul > li > h3
{
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    margin-top: 20px;
}
#demo-div > ul > li > span
{
    font-size: 18px; 
    margin-top: 14px;
}

@media screen and (max-width: 799px) {
    #demo-div > ul > li > h3
    {
        font-size: 13px;
    }
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFDD63; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dceffd; 
  }
  #loader{
	position: fixed;
	width: 100%;
    height: 100vh;
	background: #FFDD63 url("../img/loading.gif") no-repeat center;
	z-index: 999;
    overflow: visible;
}

.header
{
    width: 100%;
    height: 60px;
    background-color: #FFDD63;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 42px;
    z-index: 3;
}
#mainLogo
{
    display: flex;
    position: relative;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#mainLogoDot
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}
#mainLogoDot > img
{
    width: 100%;
    height: 92%;
    cursor: pointer;
}
#mainLogo > h6
{
    font-size: 30px; 
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
    color: black;
    line-height: 40px;
    vertical-align: top;
    margin-left: 3px;
}
/* MENU AMK MENU ANASINI SİKTİĞİM MENYSY */
.menu>li>a
{
    color: rgb(0, 0, 0);
    font-family:'Inter', sans-serif;
    font-weight: bold;
}
.header .mainLogo
{
    float: left;
    display: block;
}
.menu
{
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #FFDD63;
}
.menu a
{
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(0, 0, 0, .3);
    text-decoration: none;
}
.menu a:hover
{
    background-color:#ccb04f;
}
.header .menu
{
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.header .menu-icon
{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.header .menu-icon .nav-icon
{
    background:black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:5px;
}

.header .menu-icon .nav-icon:after
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:-5px;
}
.header .menu-btn
{
    display: none;
}
.header .menu-btn:checked ~ .menu
{
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon
{
    background:transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before
{
    transform: rotate(-45deg);
    top:0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after
{
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:800px)
{
    .header li{
        float: left;
    }
    .header li a
    {
        padding: 20px 30px;
    }
    .header .menu
    {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon
    {
        display: none;
    }
    .header
    {
        display: flex;
        height: 130px;
    }
    #mainLogo
    {
        margin-left:70px;
    }
    .menu
    {
        margin-right: 70px;
    }
}    
@media screen and (max-width: 799px){
    #mainLogoDot{
        width: 30px !important;
        height: 30px !important;
    }
    #mainLogo > h6
    {
    font-size: 25px; 
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
    color: black;
    line-height: 40px;
    vertical-align: top;
    margin-left: 3px;
    }
}    

