@import '../utilities/variables';
@import '../utilities/reset';
/*MAIN BASLANGIC */
.main-container
{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 126px;
    background-image: url("../../img/pages/home/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 100%;
}
.main-container-left
{
    display: flex;
    min-height: 100%; 
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row;
}
.main-container-left-in
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-right: 15px;
}
.main-container-left-texts
{
    display: block;
    width: 100%;
    font-family: $font-stack;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}
#main-container-left-texts-right
{
    font-size: 16px;
}
.searchbox
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    offset: 0px 4px;
}
#container-blank
{
    width: 100%;
    height: 20%;
}
#searchbox-div
{
    display: flex;
    width: 90%;
    height: 30%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}
#searchbox-div > h3 
{
    font-family: $font-stack;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.form
{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#selectCity
{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 30%;
}
#selectService
{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 30%;
    margin-left: 2%;
}
label
{
    font-family: $font-stack;
    font-weight: bold;
    height: 25px;
    font-size: 14px;
}
select
{
    width: 100%;
    height: 50px;
    opacity: 0.6;
    border-radius: 4px;
    font-family: $font-stack;
    color: black;
}
option
{
    font-family: $font-stack;
    color: black;
    background-color: rgb(244, 244, 244);
    padding: 5;
    font-size: 14px;
    font-size-adjust: 1;
    padding: 10px;
}
#submitButton
{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    padding-top: 26px;
    margin-left: 5%;
}
#submitButton > button
{
    width: 100%;
    height: 49px;
    background-color: #5a54f2;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: $font-stack;
    font-weight: bold;
    box-sizing: border-box;
}
.main-container-right
{
    display: flex;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex-direction: column;
}
.main-container-right-in
{
    margin-right: -100px;
    margin-top: 10px;
    img{
        transform: scale(0.9);
    }
}
#blank-container
{
    position: relative;
    width: 100%;
    height: 850px;
}
#map-container
{
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    display: flex;
    background-image: url("../img/tersback.png");
    background-position: center;
    background-size: cover;
    background-position-y: 0%;
    background-repeat: no-repeat;
}
.mapbox-container
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.mapbox
{
    margin-top: 100px;
    border-radius: 30px;
    width: 70%;
    height: 75%;
    background-color: black;
}
.mapinfo-container
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.mapsearch-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40%;
}
.mapsearch
{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#mapsearchh3
{
    width: 90%;
    height: 60px;
}
#mapsearchh3 > h3
{
    color: black;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: bold;
}
#mapsearchh3 > h6
{
    color: black;
    font-family: 'Inter';
    font-size: 16px;
}
.search-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
}
.search-container > form
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.search-container > form > input
{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.search-container > form > button
{
    margin-left: 40px;
    width: 30%;
    height: 70%;
    border-radius: 10px;
    background-color: #5a54f2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: bold;
}
.inforeview-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: transparent;
}
.review
{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 80%;
    border-radius: 30px;
}
.review-h3
{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 10%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.review-h3 > h3 
{
    font-size: 23px;
    font-family: $font-stack;
    font-weight: bold;
}
.review-feedbacks
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    border-radius: 0px 0px 30px 30px;
}
.addedBy
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
}
.addedBy > h3 
{
    font-size: 18px;
    font-family: $font-stack;
    font-weight: bold;
    text-align: center;
    color: black;
}
.comments-container
{
    width: 100%;
    height: 30%;
}
.first-comment
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.comment-author
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
}
.comment-author > h3
{
    font-size: 18px;
    font-family:  $font-stack;
    font-weight: bold;
    color: black;
}
.checked
{
    color: orange;
}
.stars
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    flex-direction: row;
    width: 50%;
}
.stars > h3 
{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: center;
}
.secondary-comment
{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.photo-feedbacks
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    border-radius: 0px 0px 30px 30px;
}
.photo-h3
{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 2px black;
    align-items: center;
}
.photo-h3 > h3 
{
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    color: black;
    font-family: $font-stack;
    font-weight: bold;
}
.photo-section
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    border-radius: 0px 0px 30px 30px;
}
.photos
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
}
.photos > img 
{
    width: 90%;
    height: 90%;
    border-radius: 30px;
}
@media screen and (max-width: 1400px) {
    .main-container
    {
        flex-direction: column;
        height: auto;
        min-height: 600px;
    }
    .main-container-left
    {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        justify-content: center;
    }
    .main-container-left-in
    {
        margin: 0px;
        height: auto;
        justify-content: flex-start;
    }
    .main-container-right
    {
        display: none;
        width: 100%;
    }
    #map-container
    {
        flex-direction: column;
        height: 1500px;
    }
    .mapbox-container
    {
        width: 100%;
    }
    .mapbox
    {
        width: 80%;
    }
    .mapinfo-container
    {
        width: 100%;
    }
    .mapsearch
    {
        width: 80%;
        height: 90%;
        margin-bottom: 0px;
    }
    .mapsearch-container
    {
        justify-content: center;
        height: 25%;
    }
    .inforeview-container
    {
        width: 90%;
        height: 75%;
    }
    .review
    {
        height: 90%;
    }
  }

@media screen and (max-width: 799px) {
    .main-container
    {
        top: 85px;
        width: 100%;
        background-position-y: 0px;
        flex-direction: column;
        height: 1000px;
    }
    .main-container-left
    {
        width: 100%;
        height: auto;
        min-height: 500px;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }
    .main-container-left-in
    {
        margin-top: 50px;
        height: 100%;
    }
    .main-container-right
    {
        margin: 0;
        display: flex;
        width: 100%;
        height: 90%;
    }
    .main-container-right-in
    {
        height: 100%;
        margin: 0px;
    }
    #main-container-left-texts-right
    {
        font-size: 14px;
        line-height: 20px;
    }
    .main-container-right-in > img 
    {
        width: 100%;
        height: auto;
    }
    .main-container-left-texts
    {
        font-size: 30px;
    }
    #searchbox-div > h3
    {
        font-size: 16px;
    }
    #submitButton
    {
        justify-content: center;
    }
    select
    {
        font-size: 12px;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

  }